<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>197719556039-5lt1g79g883n2vfgekvts07qio60dic2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.197719556039-5lt1g79g883n2vfgekvts07qio60dic2</string>
	<key>API_KEY</key>
	<string>AIzaSyBe4qb9ASO9rnPfGgOaLi0k0GuYV2I8pOo</string>
	<key>GCM_SENDER_ID</key>
	<string>197719556039</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.photodiary</string>
	<key>PROJECT_ID</key>
	<string>photodairy-15831</string>
	<key>STORAGE_BUCKET</key>
	<string>photodairy-15831.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:197719556039:ios:ae18d10ea39ee0371d23e2</string>
	<key>DATABASE_URL</key>
	<string>https://photodairy-15831.firebaseio.com</string>
</dict>
</plist>